.auth{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    padding: 1rem;
}
.auth__form{
    width: 500px;
    padding: 1rem;
    background-color: white;
}
.auth__form form{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.form__control{
    display: flex;
    flex-direction: column;
}
.form__control label{
    font-size: 1rem;
}
.form__control input{
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
}
.auth__goto{
    margin-top: 20px;
    text-align: end;
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
    .auth__form{
        /* min-width: 300px; */
    }
  }
