.chat__container{
    width: 100%;
    height: calc(100vh - 50px);
    display:flex;
    background-color: blanchedalmond;
}

.chat__side{
    flex: 1 0 25%;
    height: 100%;
}
.chat__conversation{
    flex: 1 0 50%;
    height: 100%;
}
.chat__active{
    flex: 1 0 25%;
    height: 100%;
}


/*=== Sidebar ===*/
.chat__side{
    border-right: 1px solid red;
}

/*=== Conversation ===*/
.chat__conversation{
    border-right: 1px solid red;
}
/* Messages + TextInput = Conversation */
.conversation__container{
    height: calc(100vh - 105px); /* Nav height(50px) + Conversation-Header height(55px) */
    background-color: rgb(255, 246, 210);
    padding-top: 0.5rem;
    padding-bottom: 60px;
    position: relative;
}
.messages__container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    overflow-y: scroll;
    padding-inline: 0.5rem;
}

/*=== ActiveUser ===*/
.active__title{
    margin-top: 1rem;
    padding-left: 1rem;
    color: rgb(117, 242, 103);
}
.active__container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.active__line{
    margin-top: 5px;
    height: 2px;
    background-color: rgb(204, 132, 23);
}

/*=== Open Chat ===*/
.open__chat{
    font-size: 1rem;
    font-weight: 500;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgb(147, 143, 143);
}