.active__person {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 1rem;
}
.active__img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.active__img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.active__person:hover {
  background-color: bisque;
  cursor: pointer;
}
.active__light {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(84, 255, 84);
  position: absolute;
  top: 0;
  right: 0;
}
