.active__person{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5rem 1rem;
 }
 .active__person img{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     object-fit: cover;
     object-position: center;
 }
 .active__person:hover{
     background-color: bisque;
     cursor: pointer;
 }